/* 
Website colors:
    navbar: background-color: #1A1A1D;
    section 1: background-color: #334D5C;
    titles: background-color: #334D5C;
    sections: background-color: #FFFFFE;
    sectionsBis: bakcground-color: #EAE3D5;
    footer: background-color :#393A3A;
*/
