/* 
Website colors:
    navbar: background-color: #1A1A1D;
    section 1: background-color: #334D5C;
    titles: background-color: #334D5C;
    sections: background-color: #FFFFFE;
    sectionsBis: bakcground-color: #EAE3D5;
    footer: background-color :#393A3A;
*/
/* 
|------------------------------------------------------|
|                       BODY                           |
|------------------------------------------------------|
*/
body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
}
/* 
|------------------------------------------------------|
|                       NAVBAR                         |
|------------------------------------------------------|
*/
nav {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 8vw;
  background-color: #1a1a1d;
  align-items: center;
}
.navbarMenu {
  display: flex;
  color: #fffffe;
  width: 100%;
  justify-content: end;
  gap: 60px;
  text-align: center;
  margin-right: 50px;
}
.navbarMenu > div > img {
  width: 5vw;
  padding-bottom: 1vh;
}
.navbarMenu > div > p {
  margin: 0;
}
.navbarLogo > img {
  padding-left: 1vw;
  width: 23vw;
}
/* 
|------------------------------------------------------|
|                       CONTENT                        |
|------------------------------------------------------|
*/
/* CONTENT 1 */
.content1 {
  height: 250px;
  background-color: #334d5c;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fffffe;
  font-weight: 100;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
  font-weight: normal;
}
#contentLogo {
  margin-left: 20vw;
}
#contentLogo > img {
  width: 200px;
}
#contentText {
  margin-left: 10vw;
}
/* CONTENT 2 */
.content2 {
  height: 40vh;
  margin: 0;
}
#titre2 > h1 > p {
  margin: 0;
  margin-top: 5vh;
  text-align: center;
  background-color: #334d5c;
  padding: 1vh;
  width: 13vw;
  margin-left: 43vw;
  font-size: 50px;
  color: #fffffe;
  font-weight: 100;
  margin-bottom: 5vh;
}
#contentLogo2 {
  display: flex;
  justify-content: center;
  text-align: start;
  margin-left: 19vw;
}
#contentText2 > p {
  margin-left: 10vw;
  margin-right: 400px;
}
.content2bis {
  display: flex;
  background-color: #eae3d5;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.content2bis > div > img {
  width: 100px;
}
.content2bis > div > p {
  margin: 0;
}
.content3 {
  height: 40vh;
  margin: 0;
}
#contentLogo3 {
  display: flex;
  justify-content: center;
  text-align: start;
  margin-left: 19vw;
}
#titre3 > h1 {
  margin: 0;
  margin-top: 5vh;
  text-align: center;
  background-color: #334d5c;
  padding: 1vh;
  width: 13vw;
  margin-left: 43vw;
  font-size: 50px;
  color: #fffffe;
  font-weight: 100;
  margin-bottom: 5vh;
}
#contentText3 > p {
  margin-left: 10vw;
  margin-right: 400px;
}
.content3bis {
  display: flex;
  background-color: #eae3d5;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.content3bis > div > img {
  width: 100px;
}
.content3bis > div > p {
  margin: 0;
}
.content4 {
  height: 40vh;
  margin: 0;
}
#contentLogo4 {
  display: flex;
  justify-content: center;
  text-align: start;
  margin-left: 19vw;
}
#titre4 > h1 {
  margin: 0;
  margin-top: 5vh;
  text-align: center;
  background-color: #334d5c;
  padding: 1vh;
  width: 13vw;
  margin-left: 43vw;
  font-size: 50px;
  color: #fffffe;
  font-weight: 100;
  margin-bottom: 5vh;
}
#contentText4 > p {
  margin-left: 10vw;
  margin-right: 400px;
}
.content4bis {
  display: flex;
  background-color: #eae3d5;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.content4bis > div > img {
  width: 100px;
}
.content4bis > div > p {
  margin: 0;
}
/* 
|------------------------------------------------------|
|                       FOOTER                         |
|------------------------------------------------------|
*/
.footer {
  margin: 0;
  padding: 0;
  background-color: #393a3a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fffffe;
  height: 30vh;
  font-size: 25px;
}
#footerImg > img {
  width: 6vh;
  padding: 10px;
}
#footerTitre > p {
  margin: 0;
  padding-bottom: 4vh;
}
.footerCopyright {
  margin: 0;
  padding: 0;
  background-color: #393a3a;
}
.footerCopyright > p {
  color: #fffffe;
  margin: 0;
  margin-left: 96vw;
  padding-bottom: 3vh;
}
