/* 
Website colors:
    navbar: background-color: #1A1A1D;
    section 1: background-color: #334D5C;
    titles: background-color: #334D5C;
    sections: background-color: #FFFFFE;
    sectionsBis: bakcground-color: #EAE3D5;
    footer: background-color :#393A3A;
*/
/* 
|------------------------------------------------------|
|                       BODY                           |
|------------------------------------------------------|
*/
body {
  margin: 0;
  padding: 0;
  width: 65vw;
  padding-left: 20vw;
}
/* 
|------------------------------------------------------|
|                       NAVBAR                         |
|------------------------------------------------------|
*/
nav {
  display: flex;
  width: 100%;
  height: 7vw;
  background-color: #1a1a1d;
  align-items: center;
}
.navbarMenu {
  display: flex;
  color: #fffffe;
  width: 100%;
  justify-content: end;
  gap: 30px;
}
/* 
|------------------------------------------------------|
|                       CONTENT                        |
|------------------------------------------------------|
*/
/* CONTENT 1 */
.content1 {
  height: 250px;
  background-color: #334d5c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffffe;
}
/* CONTENT 2 */
.content2 {
  height: 500px;
  margin: 0;
  display: flex;
}
#titre > h1 > p {
  margin: 0;
  text-align: center;
}
/* 
|------------------------------------------------------|
|                       FOOTER                         |
|------------------------------------------------------|
*/
